{{!-- Biography Tab --}}
<section class="tab {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
  <aside class="species-data">
    <div class="pokedex-number-name">
      <span class="number-sign">#</span>
      <input type="text" class="pokedex-num" name="system.pokedexId" value="{{system.pokedexId}}" placeholder="0"
        data-dtype="Number" />
      <input type="text" name="system.species" value="{{system.species}}" placeholder="{{localize 'POKEROLE.BioSpecies'}}"
        data-dtype="String" />
      {{#unless limitedPermissions}}
      <a data-action="showSettings"><i class="fas fa-cogs"></i></a>
      {{/unless}}
    </div>
    <div class="pokedex">
      <fieldset>
        <legend>{{localize "POKEROLE.BioCategory"}}</legend>
        <input name="system.pokedexCategory" value="{{system.pokedexCategory}}" placeholder="{{localize 'POKEROLE.BioCategory'}}">
      </fieldset>
      <fieldset>
        <legend>{{localize "POKEROLE.BioPokedexEntry"}}</legend>
        <textarea class="pokedex-description"
          name="system.pokedexDescription">{{ system.pokedexDescription }}</textarea>
      </fieldset>
      <div class="inner-list">
        <fieldset>
          <legend>{{localize "POKEROLE.BioHeight"}}</legend>
          <span><input class="small" name="system.height" value="{{system.height}}"> m / {{heightImperial}} ft</span>
        </fieldset>
        <fieldset>
          <legend>{{localize "POKEROLE.BioWeight"}}</legend>
          <span><input class="small" name="system.weight" value="{{system.weight}}"> kg / {{weightImperial}} lbs</span>
        </fieldset>
      </div>
    </div>
    {{#unless limitedPermissions}}
    <fieldset class="abilities">
      <legend>
        {{localize "POKEROLE.BioAbilities"}}
        {{#if editable}}
        <a data-action="createItem" title="{{localize 'POKEROLE.BioAbilities'}}" data-type="ability"><i
            class="fas fa-plus"></i></a>
        {{/if}}
      </legend>
      <ul>
        {{#each abilities as |item index|}}
        <li class="item" data-item-id="{{item.data._id}}">
          <h5>
            <a data-action="roll" data-roll-type="item">{{item.data.name}}</a>
            {{#if ../editable}}
            <a data-action="editItem" title="{{localize 'POKEROLE.EffectEdit'}}"><i class="fas fa-edit"></i></a>
            <a data-action="deleteItem" title="{{localize 'POKEROLE.EffectDelete'}}"><i class="fas fa-trash"></i></a>
            {{/if}}
          </h5>
          <p>{{{item.data.system.description}}}</p>
        </li>
        {{/each}}
      </ul>
    </div>
    {{/unless}}

  </aside>

  <div class="species-data">
    <div class="pokedex-number-name">
      <span class="number-sign">{{localize "POKEROLE.BioCharacterData"}}</span>
    </div>

    <div class="pokedex">
      <fieldset>
        <legend>{{localize "POKEROLE.BioTrait"}}</legend>
        <input type="text" name="system.trait" value="{{system.trait}}" placeholder="{{localize 'POKEROLE.HealNone'}}">
      </fieldset>
      {{#if (pkOptions "vitaminOption")}}
      <div class="inner-list">
        <fieldset>
          <legend>{{localize "POKEROLE.BioVitaminA"}}</legend>
          <select name="system.avitamin" value="{{system.avitamin}}" data-dtype="String"
            class="medium clean-selector">
            {{selectOptions addedvitamin selected=system.avitamin}}
          </select>
        </fieldset>
        <fieldset>
          <legend>{{localize "POKEROLE.BioVitaminB"}}</legend>
          <select name="system.bvitamin" value="{{system.bvitamin}}" data-dtype="String"
            class="medium clean-selector">
            {{selectOptions addedvitamin selected=system.bvitamin}}
          </select>
        </fieldset>
      </div>
      {{/if}}
    </div>

    {{#unless limitedPermissions}}
    <fieldset class="biography">
      <legend>{{localize "POKEROLE.TabBiography"}}</legend>
      {{> pokerole.multi-editor editing=editingDescription html=biographyHtml key="system.biography" editable=editable}}
    </fieldset>
    {{/unless}}
  </div>
</section>
